JSON examples and exercise
    get familiar with packages for dealing with JSON
    study examples with JSON strings and files
    work on exercise to be completed and submitted
reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
data source: http://jsonstudio.com/resources/

In [1]:
# imports for Python, Pandas 
import pandas as pd
import json
from pandas.io.json import json_normalize

JSON example, with string
    demonstrates creation of normalized dataframes (tables) from nested json string
source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [2]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [3]:
# use normalization to create tables from nested element
pd.json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [4]:
# further populate tables created from nested element
pd.json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

JSON example, with file
    demonstrates reading in a json file as a string and as a table
    uses small sample file containing data about projects funded by the World Bank
data source: http://jsonstudio.com/resources/

In [5]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'name': 'Education', 'code': 'EX'},
   {'name': 'Education', 'code': 'EX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'},
   {'name': 'Education', 'code': 'EX'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'name': 'Human development', 'code': '8'},
   {'name': '', 'code': '11'}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b081e545fb_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'DocDate': '28-AUG-2013'},
   {'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocType': 'IP',
    'EntityID': '000442464_20130920111729',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'DocDate': '01-JUL-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b0817b19e2_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'DocDate': '22-NOV-2012'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'name': 'Primary education', 'code': 'EP'},
   {'name': 'Secondary education', 'code': 'ES'},
   {'name': 'Public administration- Other social services', 'code': 'BS'},
   {'name': 'Tertiary education', 'code': 'ET'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'name': 'Education for all', 'code': '65'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'name': 'Public Administration, Law, and Justice',
    'code': 'BX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'name': 'Economic management', 'code': '1'},
   {'name': 'Social protection and risk management', 'code': '6'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131024115616',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20131024151611',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000442464_20131031112136',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131031105716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20130305113209',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'DocDate': '16-JAN-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000356161_20130305113716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'DocDate': '16-JAN-2013'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'name': 'Public administration- Other social services',
    'code': 'BS'},
   {'name': 'General public administration sector', 'code': 'BZ'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'name': 'Other economic management', 'code': '24'},
   {'name': 'Social safety nets', 'code': '54'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [6]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

JSON exercise
Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
    1. Find the 10 countries with most projects
    2. Find the top 10 major project themes (using column 'mjtheme_namecode')
    3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [7]:
world_banks_df = pd.read_json('data/world_bank_projects.json')
print(world_banks_df.columns)
print(world_banks_df.shape)

Index(['sector', 'supplementprojectflg', 'projectfinancialtype', 'prodline',
       'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode',
       'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty',
       'sector1', 'lendinginstr', 'countrycode', 'sector2', 'totalamt',
       'mjtheme_namecode', 'boardapprovaldate', 'countryshortname', 'sector4',
       'prodlinetext', 'productlinetype', 'regionname', 'status',
       'country_namecode', 'envassesmentcategorycode', 'project_abstract',
       'approvalfy', 'projectdocs', 'lendprojectcost', 'lendinginstrtype',
       'theme1', 'grantamt', 'themecode', 'borrower', 'sectorcode', 'sector3',
       'majorsector_percent', 'board_approval_month', 'theme_namecode',
       'countryname', 'url', 'source', 'projectstatusdisplay', 'ibrdcommamt',
       'sector_namecode', '_id'],
      dtype='object')
(500, 50)

In [8]:
# 1. Find the 10 countries with most projects
country = world_banks_df.countryshortname.value_counts()
country[:10]

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Bangladesh            12
Nepal                 12
Morocco               12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [18]:
# 2. Find the top 10 major project themes (using column 'mjtheme_namecode')
world_banks_df.mjtheme_namecode[0]

[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]

In [10]:
# just looking at the 'themecode' or 'mjthemecode' (strings)
themecode = world_banks_df.mjthemecode
print(themecode.value_counts())
print('\n')
print(themecode.head())
print('\n')

# just looking at themename (some missing for each project)
themename = world_banks_df.mjtheme
print(themename.head())

11,11         17
8,11          12
8,8           11
6,6            8
11,4           7
              ..
5,8,6          1
5,4,2          1
8,2,2,8        1
4,2,2          1
6,1,2,11,2     1
Name: mjthemecode, Length: 312, dtype: int64


0        8,11
1         1,6
2    5,2,11,6
3         7,7
4         5,4
Name: mjthemecode, dtype: object


0                                  [Human development]
1    [Economic management, Social protection and ri...
2    [Trade and integration, Public sector governan...
3    [Social dev/gender/inclusion, Social dev/gende...
4    [Trade and integration, Financial and private ...
Name: mjtheme, dtype: object

In [11]:
# Each project has a list of themes [{}, {}, ...]
# where each theme is a dictionary {'code': themecode , 'name': mjtheme}
# note: some themes have 'name' missing 
#       but all names are listed at least once in another project

# make a DataFrame of themes ('code', 'name')
import numpy as np
theme_list = world_banks_df.mjtheme_namecode.tolist()
theme_list = [j for sublist in theme_list for j in sublist]
theme_df = pd.DataFrame.from_dict(theme_list) 
theme_df.code = theme_df.code.astype(np.int64) # cast string 'code' to int
theme_df = theme_df.drop_duplicates().sort_values(by=['code'])
theme_df = theme_df.drop(theme_df[theme_df.name == ''].index)
theme_df = theme_df.reset_index(drop=True)
print(theme_df)

# or a dictionary
theme_dict = theme_df.set_index('code')
theme_dict = theme_dict.to_dict()
theme_dict = theme_dict['name']
print(theme_dict)

    code                                          name
0      1                           Economic management
1      2                      Public sector governance
2      3                                   Rule of law
3      4      Financial and private sector development
4      5                         Trade and integration
5      6         Social protection and risk management
6      7                   Social dev/gender/inclusion
7      8                             Human development
8      9                             Urban development
9     10                             Rural development
10    11  Environment and natural resources management
{1: 'Economic management', 2: 'Public sector governance', 3: 'Rule of law', 4: 'Financial and private sector development', 5: 'Trade and integration', 6: 'Social protection and risk management', 7: 'Social dev/gender/inclusion', 8: 'Human development', 9: 'Urban development', 10: 'Rural development', 11: 'Environment and natural resources management'}

In [36]:
# cleaner way to compute theme dictionary
theme_dict2 = {}
no_name = set()

# loop thru each dictionary in theme_list
for dct in theme_list:
    # get 'code' and 'name' from dct
    code, name = dct.values()
    
    # cast 'code' from str to int
    code = int(code)
    
    # if theme has no name, add code to no_name set
    if name == '':
        no_name.add(code)
    else:
    # add to to dictionary
        theme_dict2.update({code:name})
    
#print(theme_dict2)
#print(no_name)

# check if codes with no name are in the dictionary
for c in no_name:
    if c not in theme_dict2.keys():
        theme_dict2.update({c: None})
        print(c, 'not in dictionary')
        
# sort the dictionary
theme_dict2 = {k: v for k, v in sorted(list(theme_dict2.items()))}
print(theme_dict2)

{1: 'Economic management', 2: 'Public sector governance', 3: 'Rule of law', 4: 'Financial and private sector development', 5: 'Trade and integration', 6: 'Social protection and risk management', 7: 'Social dev/gender/inclusion', 8: 'Human development', 9: 'Urban development', 10: 'Rural development', 11: 'Environment and natural resources management'}

In [12]:
# Using only the first listed theme in each project 

# suppress 'copy' warning
pd.options.mode.chained_assignment = None  # default='warn'

def get_code(li):
    return li[0]['code']

def get_name(li):
    if li[0]['name'] != '':
        return li[0]['name']
    else: 
        return None

world_bank_1theme = world_banks_df[['_id','mjtheme_namecode']]
world_bank_1theme['first_theme_code'] = world_bank_1theme.mjtheme_namecode.map(get_code)
world_bank_1theme['first_theme_code'] = world_bank_1theme['first_theme_code'].astype(np.int64)
world_bank_1theme['first_theme_name'] = world_bank_1theme.mjtheme_namecode.map(get_name)

print( world_bank_1theme.value_counts('first_theme_code')[:10] )
#print(world_bank_1theme.value_counts('first_code').sum())

first_theme_code
11    88
8     72
2     66
10    57
6     57
4     54
7     44
5     25
9     24
1     11
dtype: int64

In [13]:
# 3. In 2. above you will notice that some entries have only the code and the name is missing. 
#    Create a dataframe with the missing names filled in.

In [14]:
# Drop the 'mjtheme_namecode' column
world_bank_1theme = world_bank_1theme.drop(columns = ['mjtheme_namecode'])

# change column names 
world_bank_1theme.columns = ['id', 'code', 'name']
print(world_bank_1theme)

                                       id  code  \
0    {'$oid': '52b213b38594d8a2be17c780'}     8
1    {'$oid': '52b213b38594d8a2be17c781'}     1
2    {'$oid': '52b213b38594d8a2be17c782'}     5
3    {'$oid': '52b213b38594d8a2be17c783'}     7
4    {'$oid': '52b213b38594d8a2be17c784'}     5
..                                    ...   ...
495  {'$oid': '52b213b38594d8a2be17c96f'}     4
496  {'$oid': '52b213b38594d8a2be17c970'}     8
497  {'$oid': '52b213b38594d8a2be17c971'}    10
498  {'$oid': '52b213b38594d8a2be17c972'}    10
499  {'$oid': '52b213b38594d8a2be17c973'}     9

                                         name
0                           Human development
1                         Economic management
2                       Trade and integration
3                 Social dev/gender/inclusion
4                       Trade and integration
..                                        ...
495  Financial and private sector development
496                         Human development
497                         Rural development
498                         Rural development
499                         Urban development

[500 rows x 3 columns]

In [15]:
# Count how many missing names
print(world_bank_1theme.name.isnull().sum(), 'missing names')

# df.B = df.B.fillna(df.A.map(dict))

# Use theme_df to fill in missing names
world_bank_1theme.name.fillna(world_bank_1theme.code.map(theme_dict))
world_bank_1theme.name = world_bank_1theme.name.fillna(world_bank_1theme.code.map(theme_dict))

# Count number of missing names again
print(world_bank_1theme.name.isnull().sum(), 'missing names')

9 missing names
0 missing names

In [16]:
world_bank_1theme

,id,code,name
0,{'$oid': '52b213b38594d8a2be17c780'},8,Human development
1,{'$oid': '52b213b38594d8a2be17c781'},1,Economic management
2,{'$oid': '52b213b38594d8a2be17c782'},5,Trade and integration
3,{'$oid': '52b213b38594d8a2be17c783'},7,Social dev/gender/inclusion
4,{'$oid': '52b213b38594d8a2be17c784'},5,Trade and integration
...,...,...,...
495,{'$oid': '52b213b38594d8a2be17c96f'},4,Financial and private sector development
496,{'$oid': '52b213b38594d8a2be17c970'},8,Human development
497,{'$oid': '52b213b38594d8a2be17c971'},10,Rural development
498,{'$oid': '52b213b38594d8a2be17c972'},10,Rural development
499,{'$oid': '52b213b38594d8a2be17c973'},9,Urban development